:root{
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  --bp-sm: 375px;
  --bp-large: 1280px;
  font-family: "futura-pt", sans-serif;
}

*{
  background-color: rgb(255, 255, 255);
}

body {
  margin-block: 4rem;
  margin-inline: 1.4rem;
}

h1 {
  font-size: 4rem; /* 40px */
  margin-block: 3rem;
}

time {
  font-size: 1.4rem; 
}

address {
  font-size: 1.4rem; 
}

address::after{
  content: "";
  display: block;
  background-color: black;
  height: 0.1rem;
  width: 100%;
  margin-block: 2rem;
}

.intro{
  font-size: 2.2rem;
  line-height: 1.3;
}
.intro p{
  margin-block: 2.4rem;
}

h2 {
  font-size: 2.4rem; 
  margin-block: 5rem 1rem;
  color: rgb(107, 107, 107);
}

h2::after{
  content: "";
  display: block;
  background-color: black;
  height: 0.1rem;
  width: 100%;
  margin-block: 2rem;
}


section.bodytext p {
  font-size: 2rem; 
  line-height: 1.45;
  margin-block: 2rem;
}

footer{
  background-color: black;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 4rem 2rem;
}

footer > p {
  background-color: black;
  color: white;
  margin-inline: 1rem;
  margin-block: 1.4rem;
  font-size: 1.4rem;
}

/* Media Queries for BigScreen */


@media screen and (min-width: 700px) {

  body{
    margin-inline: 6rem;
  }
  
  h1{
    font-size: 6rem;
  }

  .intro{
    font-size: 3rem;
  }

  h2{
    font-size: 3.6rem;
    margin-block: 7rem 4rem;
  }

  section.bodytext p {
    font-size: 2.4rem;
  }

  footer > p{
    margin-inline: 8rem;
    font-size: 2.8rem;
    line-height: 1.4;
    color: rgb(201, 201, 201);
  }
  
}

@media screen and (min-width: 1080px) {

  body{
    margin-inline: 10rem;
  }
  
  h1{
    font-size: 8rem;
  }

  .intro{
    font-size: 3.5rem;
  }

  h2{
    font-size: 4.8rem;
    margin-block: 9rem 6rem;
  }

  section.bodytext p {
    font-size: 3rem;
  
}
}
